<div class="container">
    <div class="row">
        <div class="col-3 col-md-2 d-flex align-items-center">
            <img src="../../../assets/images/logo.png" alt="logotipo">
        </div>
        <div class="col-8 col-md-10 my-3">
            <h1 class="text-primary">Acerca de nosotros</h1>
        </div>
        <hr class="bg-success">
    </div>
    <div class="row">
        <img src="http://www.utez.edu.mx/images/2022/02/Portada-conocenos.png" class="img">
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-">
            <p class="text-wrap">
                La Universidad Tecnológica Emiliano Zapata (UTEZ), es una Universidad pública creada en el año 2000 que forma 
                parte del Sistema Nacional de Universidades Tecnológicas de la SEP, cuyo innovador modelo ofrece
                 planes de estudio para formar Técnicas y Técnicos Superiores Universitarios e Ingenieros e Ingenieras en 
                 sólo tres años ocho meses, generando profesionistas competentes con altos niveles tecnológicos para dar 
                 respuesta a las necesidades de los sectores social y productivo de la región y del país.
            </p>
            <div class="row text-center">
                <div class="card col-md-6">
                    <div class="card-header text-center">Misión</div>
                    <div class="card-body">
                        <p class="text-wrap">
                            Formar profesionistas competitivos, con capacidades tecnológicas y sentido humanista,  a través de programas educativos pertinentes, incluyentes, con equidad y calidad, comprometidos con el desarrollo sostenible, que realiza investigación tecnológica, promueve la innovación y fomenta la vinculación con los sectores productivo, público y social, para contribuir a satisfacer las necesidades de la sociedad.
                        </p>  
                    </div>
                </div>
                <div class="card col-md-6">
                    <div class="card-header text-center">Visión</div>
                    <div class="card-body">
                        <p class="text-wrap">
                            Ser una institución de educación superior tecnológica, reconocida a nivel nacional e internacional por su calidad académica, que contribuye al desarrollo tecnológico,  mediante la innovación, vinculación e investigación, y continuando con el compromiso de ser referente dentro del Subsistema de Universidades Tecnológicas y Politécnicas.
                        </p>  
                    </div>
                </div>
            </div>

            <h3 class="text-center">Objetivos institucionales</h3>
            <hr>
            <ul>
                <li><strong>Impartir educación tecnológica en los niveles Técnico Superior Universitario y Licenciatura con equidad y calidad, </strong>mediante la implementación de programas educativos  pertinentes acordes a los requerimientos de desarrollo económico y social.</li>
                <li><strong>Impartir educación tecnológica en los niveles Técnico Superior Universitario y Licenciatura con equidad y calidad, </strong>mediante la implementación de programas educativos  pertinentes acordes a los requerimientos de desarrollo económico y social.</li>
                <li><strong>Impartir educación tecnológica en los niveles Técnico Superior Universitario y Licenciatura con equidad y calidad, </strong>mediante la implementación de programas educativos  pertinentes acordes a los requerimientos de desarrollo económico y social.</li>as educativos  pertinentes acordes a los requerimientos de desarrollo económico y social.</li>
            </ul>
        </div>
    </div>
</div>
