<div class="vstack gap-3">
  <h1 class="text-success">Contáctanos</h1>
  <hr />
  <div class="d-flex align-items-center">
    <app-icon class="me-2" icon="location"></app-icon>
    <p>Av. Universidad Tecnológica No.1, Col. Palo Escrito, C.P. 62760, Emiliano Zapata, Morelos.</p>
  </div>
  <div class="d-flex align-items-center">
    <app-icon class="me-2" icon="phone"></app-icon>
    <p>Tel. (01 777) 3 68 11 65</p>
  </div>
  <p class="fw-bold">Comunícate sin costo al 01 800 050 UTEZ(8839)</p>
  <app-map></app-map>
</div>